.list1 :nth-child(3) {
  color:red;
}
.list1 :nth-child(4) {
  color:red;
}
.list2 :nth-child(2){
  font-size:24px;
}
.list2 :nth-child(4){
  font-size:24px;
}


.red1 {
  height:100px;
  width:100px;
  background:red;

}

.red2 {
  height:100px;
  width:100px;
  background:red;
   color:white;
}

.red3 {
  height:100px;
  width:100px;
  background:red;
}
