.list1 :nth-child(3) {
  color:red;
}
.list1 :nth-child(4) {
  color:red;
}
.list2 :nth-child(2){
  font-size:24px;
}
.list2 :nth-child(4){
  font-size:24px;
}


.red1 {
  height:100px;
  width:100px;
  background:red;

}

.red2 {
  height:100px;
  width:100px;
  background:red;
   color:white;
}

.red3 {
  height:100px;
  width:100px;
  background:red;
}
.red1 :nth-child(1) {
  font-style:italic;
}
.red2 :nth-child(1) {
  font-style:italic;
}
.red3 :nth-child(1) {
  font-style:italic;
}
button {
  margin:10px;
}
button:hover {
  background-color:blue;
}
button:active {
  height:200px;
  width:150px;
}
